
em,i{
	font-style: normal;
}


.top_wang{
	width: 1200px;
	margin: 0 auto;
	
}
.top_wang ul{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.bt_wang{
	background: url(../img/wtjicon.png) no-repeat 0px -136px;
    width: 181px;
    height: 44px;
    display: inline-block;
    text-indent: -99999px;
    
}

.list_wang li{
	
	width: 280px;
    height: 405px;
    float: left;
    margin-top: 10px;
    position: relative;
}
.rec_wang{
	background-color: #f0f0f0;
    position: absolute;
    display: none;
    width: 300px;
    height: 402px;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.rec2_wang{
	position: absolute;
    padding: 12px;
}
.list_wang li .t1_wang{
	display: inline-block;
    height: 276px;
    width: 276px;
    position: relative;
    z-index: 2;
    line-height: 276px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
.list_wang li .t2_wang{
	position: relative;
    z-index: 1;
}

.list_wang li .img1_wang{
	display: block;
}
.list_wang li .img2_wang{
	display: none;
}
.list_wang li img{
	max-width: 100%;
    max-height: 100%;
    vertical-align: middle;   
}
.list_wang li span{
	font-size: 12px;
}
.list_wang li .s1_wang{
	color: #CCCCCC;
}
.list_wang li p{
	font-size: 14px;
}
.t3_wang{
	position: absolute;
    background-color: #f0f0f0;
    width: 300px;
    padding: 12px;
    padding-left: 18px;
    margin-left: -14px;
    display: none;
    z-index: 9999;
}
.t3_wang a{
	color: #999;
    font-size: 12px;
}
.img3_wang{
	height: 44px;
	width: auto;
}

.t4_wang{
	margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #333333;
}
.t4_wang .left_wang{
	width: 196px;
    overflow: hidden;
    height: 20px;
    float: left;
}

.i_wang {
    background-color: #111111;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 2px;
    height: 18px;
    display: inline-block;
    text-align: center;
    margin-left: 15px;   
    border-radius: 2px;
    margin-top: 2px;    
    float: left;
}

.smill_wang{
	color: #333;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.b_wang{
	border-bottom: 1px solid #000;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.size_wang{
	color: #aaa;
	font-size: 12px;
}
.size_wang label{
	float: left;
}
.size_wang div{
	float: left;
}
.list_wang li:hover .img1_wang{
	display: none;
}
.list_wang li:hover .img2_wang{
	display: block;
}

.list_wang li:hover .t3_wang{
	display: block;
	border-top: none;
	margin-left: -12px;
	/*border: 10px solid #F0F0F0;*/
}
.list_wang li:hover .rec_wang{
	display: block;
}


.xian_wang{
	width: 1200px;
	margin: 40px auto;
	text-align: center;
	font-weight: 900;
	color: black;
	font-size: 20px;
}


