#main_smh_mainwrap{
	width: 1200px;
	height: 667px;
	background: #fff;
	overflow: hidden;
	margin: 0 auto;
}
.main_top{
	
	 height: 44px;
	margin-top: 80px;
}
.main_top h2{
	background: url(../img/wtjicon.png) no-repeat 0 -181px;
	width: 182px;
    height: 44px;
    display: inline-block;
    text-indent: -9999px;
    float: left;
}

.main_top_right{
	padding-top: 25px;
    position: relative;
    padding-right:20px ;
    float: right;
}
.main_top_right p{
	color: #999999;
    float: left;
}

.main_top_right span{
	background: url(../img/wtjicon.png) no-repeat -18px -26px;
    width: 17px;
    height: 17px;
    display: inline-block;
    float: right;
    margin-left: 7px;
    margin-top: 1px;
}
.my_main_ul{
	margin: 0 auto;
	
	margin-top: 30px;
    margin-bottom: 30px;
    width: 1224px;
    height: 283px;
}

.my_main_ul li{
	float: left;
    margin-right: 26px
}
.my_main_ul li img{
	width: 280px;
	height: 283px;
}
.main_xian{
	border-bottom: 1px solid #000;
    position: relative;
    height: 12px;
    overflow: hidden;
    width: 1200px;
}

.main_xianxiao{
	width: 280px;
	 height: 12px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
}
.main_xianxiao img{
	position: absolute;
	left: 130px;
}
.main_bottom{
	margin-top: 30px;
	height: 161px;
	
}

.main_bottom li{
	float: left;
	
}
.main_bottom li .main_b_left{
	width: 460px;
	height: 124px;
	float: left;
	display: block;
}
.main_bottom li .main_b_left img{
	width: 64px;
	height: 64px;
	border-radius:90px ;
	float: left;
    margin-left: 17px;
   
}
.main_b_left_left{
	margin-left: 100px;
	
}
.main_b_left_left h2{
	font-size: 16px;
    color: #333333;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
    white-space: nowrap;
    overflow: hidden;

}
.main_b_left_left p{
	color: #999999;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
	font-size: 12px;
	margin-bottom: 15px;
}
.main_b_left_left span{
	color: #333;
    margin-top: 15px;
    line-height: 22px;
    font-size: 14px;
}
.main_b_right{
	padding-right: 20px;
    text-align: right;
    float: right;
    overflow: hidden;
    margin-left: 45px;
}
.main_b_right li{
	float: left;
    margin-left: 57px;
    text-align: center;
    width: 110px;
    height: 160px;
}
.main_b_right li img{
	vertical-align: middle;
    height: 110px;
    width: 110px;
}
.main_b_right li p{
	font-size: 12px;
    color: #333333;
    text-align: left;
    font-weight: normal;
    margin-top: 10px;
}
